.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
}

.meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mealsLoading {
    background-color: blanchedalmond;
    justify-content: center;
    max-width: 60rem;
    margin: 2rem 4rem;
    border-radius: 1rem;
}

.mealsLoading p {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.errorMeals {
    background-color: blanchedalmond;
    justify-content: center;
    max-width: 60rem;
    margin: 2rem 4rem;
    border-radius: 1rem;
}

.errorMeals p {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: red;
}

@keyframes meals-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}